<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styless.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body> 
    <header class="encabezado-principal">
        <div class="encabezado-superior">
            <img class="logo"src="/images/logo-mercado-liebre.svg"alt="Logo Mercado Liebre"/>
            <form action="busqueda" method="get"><input class="input" type="text" placeholder="Buscar productos, marcas"> <button><i class="fas fa-search"></i></button></form>
            <p class="compra"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav class="encabezado-inferior">
            <ul class="enlaces-izquierda">
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda"> Ayuda</a></li>
            </ul>
            <ul class="encabezado-derecha">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>  
            </ul>
     </nav>
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

     </header>
       <div>
           <img class="banner" src="/images/img-home-banner.jpg"/>
       </div>
    <main>
        <h2>Basado en tu ultima visita</h2>
        <div class="ultima-vista">
            <article class="producto">  
                 <div><img class="img-product" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen-producto"></div>
                     <div class="main-article">
                         <div><i class="fas fa-truck"></i></div>  
                            <div class="contenido-producto">
                             <div class="precios">$6.770</div>
                             <div class="descuentos">40% off</div>
                         </div>
                             <div class="descripciones"><b>Cafetera Moulinex</b></div>
                     </div>
            </article>
            <article class="producto">
                    <div><img class="img-product" src="/images/img-macbook-pro-2019.jpg" alt="pc"></div>
                        <div class="main-article">
                            <div><i class="fas fa-truck"></i></div>
                                <div class="contenido-producto">
                                  <div class="precios">$230.000</div>
                                  <div class="descuentos">20%off</div>
                                </div>
                            <div class="descripciones"><b>MacBook Pro 2019</b></div>
                        </div>
            </article>
            <article class="producto">
                <div><img class="img-product" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy s10"></div>
                <div class="main-article">
                        <div><i class="fas fa-truck"></i></div>
                        <div class="contenido-producto">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% off</div>
                        </div>
                            <div class="descripciones"><b>Samsung Galaxy S10</b></div>
                </div> 
            </article>
            <article class="producto">
                <div><img class="img-product" src="/images/img-tv-samsung-smart.jpg"  alt="Imagen SmarTv Samsung 43"></div>
                    <div class="main-article">
                        <div><i class="fas fa-truck"></i></div>
                            <div class="contenido-producto">
                                <div class="precios">$23.200</li></div>
                                <div class="descuentos">5% off</li></div>
                            </div>
                                <div class="descripciones"><b>SmartTv Samsung 43"</b></div>
                    </div>
            </article>
        </div>    
            <h3>Ofertas</h3>
            <div class="oferta">
            <article class="producto">
                <div><img class="img-product" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex"></div>
                <div class="main-article">    
                    <div><i class="fas fa-truck"></i></div> 
                        <div class="contenido-producto">
                            <div class="precios">$6.770</div>
                            <div class="descuentos">40% off</div>
                        </div>    
                    <div class="descripciones">Cafetera Moulinex</div>
                </div>
            </article>
            <article class="producto">
                <div><img class="img-product" src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook pro 2019"></div>
                    <div class="main-article">
                        <div><i class="fas fa-truck"></i></div>
                        <div class="contenido-producto">
                            <div class="precios">$230.000</div>
                            <div class="descuentos">20% off</div>
                        </div>  
                        <div class="descripciones"><b>MacBook Pro 2019</b></div>
                    </div>
                
             </article>
            <article class="producto">
                <div><img class="img-product" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy s10"></div>
                    <div class="main-article">
                        <div><i class="fas fa-truck"></i></div>
                            <div class="contenido-producto">
                                 <div class="precios">$70.500</div>
                                 <div class="descuentos">10% off</div>
                            </div>    
                        <div class="descripciones"><b>Samsung Galaxy S10</b></div>
                    </div>
            
            </article>
            <article class="producto">
                    <div><img class="img-product" src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmarTv Samsung 43"></div>
                    <div class="main-article">
                        <div><i class="fas fa-truck"></i></div>
                                <div class="contenido-producto">
                                 <div class="precios">$23.200</div>
                                 <div class="descuentos">5% off</div>
                                </div>
                                <div class="descripciones"><b>SmartTv Samsung 43"</b></div>
                    </div>     
            </article>
        </div>
    </main>
    <footer>
        <div class="contenedor-footer">
            <section>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="texto-footer">Con MercadoLiebreCash tenés cuotas sin
                interés con tarjeta o efectivo en puntos de
                 pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde los $2.500</h4>
                <p class="texto-footer">
                Solo por estar registrad@ en MercadoLiebre
                tenés envíos gratis en miles de productos. Es 
                un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p class="texto-footer">
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer, porque
                estás siempre protegid@.
                </p>
            </section>
        </div>
          <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </footer>   
  </body>
</html>